.Footer {
    background-color: black;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Policy {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
}

.Details {
    text-decoration: underline;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 400;
    color: white;
}


