.header {
    display: flex;
    height: 150px;
    background-color: black;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.Items-box {

    background-color: black;
    width: 180px;
    height: 150px;
    color: blue;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}

.Items-box:hover {
    background: white;
}


.Items {

    color: #bc926e;
    justify-content: center;
    display: flex;
    align-self: center;
    align-content: center;

}

.itempic{
    width: 100%;
    display: flex;
    justify-content: center;
}

.itemimg {
width: 90%;
}

.searchBox {
    display: flex;
    width: 94%;
    background-color: azure;
    border-style: hidden;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
    justify-content: center;

}

.searchbar {

    display: flex;
    align-self: center;
    height: 40px;
    background-color: black;
    width: 94%;
    border-style: none;
    align-items: center;

}

input:focus {
    outline:none;
}