.header {
    display: flex;
    height: 150px;
    background-color: black;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.Items-box {

    background-color: black;
    width: 180px;
    height: 150px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}



.Items-box:hover {
    background: white;
}

.h3 {
    background-color: #e2e2e2;
     margin-left:'5px'; 
     margin-top:"200px";
     width: 200px; 
     color:'#d3ad78'

} 


.Items {

    color: #bc926e;
    justify-content: center;
    display: flex;
    align-self: center;
    align-content: center;

}

.itempic{
    width: 100%;
    display: flex;
    justify-content: center;
}

.itemimg {
width: 90%;
border-radius: 10px;
}


.Box {

    width: 100%;
    display: flex;
    justify-content: center;

}

.searchBox {
    display: flex;
    width: 90%;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    align-self: center;
    border-style: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    background-color: #e2e2e2;
}

.searchbar {
    display: flex;
    height: 45px;    
    width: 94%;
    background: transparent;
    margin-left: 20px;
    border-style: none;
    align-items: center;
    font-weight: 600;
}

input:focus {
    outline:none;
}

#inputID::placeholder {
    color: #73757d;
    opacity: 1;
}

